#fluxContainer{
	display : none;
}

#buttonsContainer button {
	position : fixed;
	font-size : 8em;
	margin-top : 20vh;
	padding-bottom : 2vh;
	
}



#loading
{
	display : none;
	margin-top : 6vh;
}

.articleDate {
	font-size : 0.5em;
}

#feedAdressPrompter {
	margin-top : 3vh;
}


#urlErrorReport {
	display : none;
}


#feedAdressPrompter * {
	margin-top : 2vh;
}

#rssHeader h1 a {
	text-decoration : none;
}

body {
	text-align : center;
}

.feedElem p {
	margin-top : 4vh;
	text-align : justify;
}

#rssFeed {
	margin-top : 5vh;
}

#rssFeed h2 a {
	text-decoration : none;
}